{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_studiolms/block_card
    @copyright 2026 Jean Lúcio <jeanlucio@gmail.com>

    Example context (json): {
        "bg": "#ffffff", "text": "#333333", "border": "#0d47a1", "radius": "8", "shadowCss": "none",
        "hasMedia": true, "isImage": true, "mediaUrl": "https://picsum.photos/600/300",
        "isHorizontal": false, "hasButton": true, "btnText": "Click", "btnUrl": "#",
        "btnBg": "#0d47a1", "btnTextCol": "#fff", "isAlignCenter": true, "btnDisplayMode": "inline-flex"
    }
}}
<div class="studiolms-card-wrap" contenteditable="false">
    <div class="studiolms-card"
         data-slms-hover="{{hoverEffect}}"
         style="--slms-dir: {{#isHorizontal}}row{{/isHorizontal}}{{^isHorizontal}}column{{/isHorizontal}};
                --slms-bg: {{bg}}; --slms-color: {{text}}; --slms-border-c: {{border}};
                --slms-radius: {{radius}}px; --slms-shadow: {{shadowCss}};">
        {{#hasMedia}}
        <div class="studiolms-card-media"
             style="--slms-media-flex: {{#isHorizontal}}0 0 35%{{/isHorizontal}}{{^isHorizontal}}1 1 auto{{/isHorizontal}};
                    --slms-media-border-r: {{#isHorizontal}}1px solid #e2e8f0{{/isHorizontal}}{{^isHorizontal}}none{{/isHorizontal}};
                    --slms-media-border-b: {{^isHorizontal}}1px solid #e2e8f0{{/isHorizontal}}{{#isHorizontal}}none{{/isHorizontal}};">
            {{#isImage}}
                <img src="{{mediaUrl}}" alt="" class="w-100 h-100 object-fit-cover d-block">
            {{/isImage}}
            {{#isVideo}}
                <div class="ratio ratio-16x9 h-100">
                    <iframe src="{{mediaUrl}}" title="Video" allowfullscreen></iframe>
                </div>
            {{/isVideo}}
        </div>
        {{/hasMedia}}
        <div class="studiolms-card-content">
            <div class="studiolms-editable-area flex-grow-1" contenteditable="true">
                {{{content}}}
            </div>
            {{#hasButton}}
            <div class="mt-4{{#isAlignLeft}} text-start{{/isAlignLeft}}{{#isAlignCenter}} text-center{{/isAlignCenter}}{{#isAlignRight}} text-end{{/isAlignRight}}" contenteditable="false">
                <a href="{{btnUrl}}" class="studiolms-btn" target="_blank" rel="noopener noreferrer"
                   data-slms-hover="{{btnHoverEffect}}" data-slms-sound="{{btnClickSound}}"
                   style="--slms-display: {{btnDisplayMode}}; --slms-w: {{#isBtnFullWidth}}100%{{/isBtnFullWidth}}{{^isBtnFullWidth}}auto{{/isBtnFullWidth}};
                          --slms-bg: {{btnBg}}; --slms-color: {{btnTextCol}}; --slms-radius: {{radius}}px;">
                    {{btnText}}
                </a>
            </div>
            {{/hasButton}}
        </div>
    </div>
</div>
<p><br></p>
