{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_studiolms/block_button
    @copyright 2026 Jean Lúcio <jeanlucio@gmail.com>

    Example context (json): {
        "btnUrl": "#", "target": "_blank", "btnBg": "#0d47a1", "btnTextCol": "#ffffff",
        "radius": 6, "isAlignCenter": true, "displayMode": "inline-flex", "isFullWidth": false
    }
}}
<div class="studiolms-btn-wrap my-3{{#isAlignLeft}} text-start{{/isAlignLeft}}{{#isAlignCenter}} text-center{{/isAlignCenter}}{{#isAlignRight}} text-end{{/isAlignRight}}" contenteditable="false">
    <a href="{{btnUrl}}" class="studiolms-btn" contenteditable="false" target="{{target}}"
       {{#isTargetBlank}}rel="noopener noreferrer"{{/isTargetBlank}}
       style="--slms-display: {{displayMode}}; --slms-w: {{#isFullWidth}}100%{{/isFullWidth}}{{^isFullWidth}}auto{{/isFullWidth}};
              --slms-radius: {{radius}}px; --slms-bg: {{btnBg}}; --slms-color: {{btnTextCol}};">
        <span contenteditable="true">{{#btnText}}{{btnText}}{{/btnText}}{{^btnText}}{{#str}} button_text, tiny_studiolms {{/str}}{{/btnText}}</span>
    </a>
</div>
<p><br></p>
