{{!
    @template tiny_studiolms/form_button
    @copyright 2026 Jean Lúcio <jeanlucio@gmail.com>

    Example context (json): {
        "btnText": "Click Here",
        "btnUrl": "https://moodle.org",
        "btnBg": "#0d47a1",
        "btnTextCol": "#ffffff",
        "radius": 6
    }
}}
<div class="mb-4">
    <div class="mb-3">
        <label for="cfg_btn_text" class="form-label small fw-bold text-muted">{{#str}} button_text, tiny_studiolms {{/str}}</label>
        <input type="text" class="form-control form-control-sm" id="cfg_btn_text" value="{{btnText}}">
    </div>

    <div class="mb-3">
        <label for="cfg_btn_url" class="form-label small fw-bold text-muted">{{#str}} button_url, tiny_studiolms {{/str}}</label>
        <input type="text" class="form-control form-control-sm" id="cfg_btn_url" value="{{btnUrl}}" placeholder="https://...">
    </div>

    <div class="mb-3">
        <label for="cfg_btn_target" class="form-label small fw-bold text-muted">{{#str}} wt_target, tiny_studiolms {{/str}}</label>
        <select class="form-select form-select-sm" id="cfg_btn_target">
            <option value="_blank" {{#isTargetBlank}}selected{{/isTargetBlank}}>{{#str}} wt_target_blank, tiny_studiolms {{/str}}</option>
            <option value="_self" {{^isTargetBlank}}selected{{/isTargetBlank}}>{{#str}} wt_target_self, tiny_studiolms {{/str}}</option>
        </select>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <label for="cfg_btn_bg" class="form-label m-0 small fw-bold text-muted">{{#str}} button_bg, tiny_studiolms {{/str}}</label>
        <input type="color" class="slms-color-picker" id="cfg_btn_bg" value="{{btnBg}}">
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <label for="cfg_btn_text_col" class="form-label m-0 small fw-bold text-muted">{{#str}} text_color, tiny_studiolms {{/str}}</label>
        <input type="color" class="slms-color-picker" id="cfg_btn_text_col" value="{{btnTextCol}}">
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <label for="cfg_btn_radius" class="form-label m-0 small fw-bold text-muted">{{#str}} border_radius, tiny_studiolms {{/str}}</label>
        <input type="number" class="form-control form-control-sm slms-input-number" id="cfg_btn_radius" value="{{radius}}" min="0" max="50">
    </div>
</div>
