{{!
	This file is part of Moodle - http://moodle.org/

	Moodle is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Moodle is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_studiolms/popup_table_setup
    @copyright 2026 Jean Lúcio <jeanlucio@gmail.com>

    Example context (json): {}
}}
<div class="alert alert-info py-1 px-2 small mb-3">
    <span aria-hidden="true">⚠️</span> {{#str}} warning_table_struct, tiny_studiolms {{/str}}
</div>
<div class="d-flex gap-2 mb-3">
    <div class="flex-grow-1">
        <label for="pop_table_cols" class="form-label small fw-bold text-muted">{{#str}} table_cols, tiny_studiolms {{/str}}</label>
        <input type="number" class="form-control form-control-sm slms-input-number" id="pop_table_cols" value="{{cols}}" min="1" max="10">
    </div>
    <div class="flex-grow-1">
        <label for="pop_table_rows" class="form-label small fw-bold text-muted">{{#str}} table_rows, tiny_studiolms {{/str}} <span class="fw-normal">{{#str}} includes_header, tiny_studiolms {{/str}}</span></label>
        <input type="number" class="form-control form-control-sm slms-input-number" id="pop_table_rows" value="{{rows}}" min="2" max="50">
    </div>
</div>
