{{!
    @template tiny_studiolms/toolbar_card
    @copyright 2026 Jean Lúcio <jeanlucio@gmail.com>

    Example context (json): {}
}}
<button type="button" class="slms-toolbar-btn" id="tb-card-design">
    <span aria-hidden="true">🎨</span> {{#str}} toolbar_design, tiny_studiolms {{/str}}
</button>
<button type="button" class="slms-toolbar-btn" id="tb-card-media">
    <span aria-hidden="true">🖼️</span> {{#str}} toolbar_media, tiny_studiolms {{/str}}
</button>
<button type="button" class="slms-toolbar-btn" id="tb-card-button">
    <span aria-hidden="true">🔘</span> {{#str}} toolbar_button, tiny_studiolms {{/str}}
</button>
