{{!
    @template tiny_studiolms/toolbar_button
    @copyright 2026 Jean Lúcio <jeanlucio@gmail.com>

    Example context (json): {}
}}
<button type="button" class="slms-toolbar-btn" id="tb-btn-content">
    <span aria-hidden="true">📝</span> {{#str}} content_link, tiny_studiolms {{/str}}
</button>
<button type="button" class="slms-toolbar-btn" id="tb-btn-design">
    <span aria-hidden="true">🎨</span> {{#str}} appearance, tiny_studiolms {{/str}}
</button>
