{{!
    @template tiny_studiolms/toolbar_accordion
    @copyright 2026 Jean Lúcio <jeanlucio@gmail.com>
}}
<button type="button" class="slms-toolbar-btn" id="tb-acc-content">
    <span aria-hidden="true">📝</span> {{#str}} toolbar_content, tiny_studiolms {{/str}}
</button>
<button type="button" class="slms-toolbar-btn" id="tb-acc-design">
    <span aria-hidden="true">🎨</span> {{#str}} toolbar_design, tiny_studiolms {{/str}}
</button>
