{{!
    @template tiny_studiolms/toolbar_infographic_timeline

    Toolbar button for the StudioLMS infographic timeline block.

    Example context (json):
    {}
}}
<button type="button"
        id="tb-infographic-timeline-edit"
        class="slms-toolbar-btn btn btn-sm btn-outline-secondary">
    <i class="fa-solid fa-timeline" aria-hidden="true"></i>
    {{#str}}toolbar_infographic_timeline_edit, tiny_studiolms{{/str}}
</button>
