{{!
    @template tiny_studiolms/toolbar_infographic_comparison

    Toolbar button for the StudioLMS infographic comparison block.

    Example context (json):
    {}
}}
<button type="button"
        id="tb-infographic-comparison-edit"
        class="slms-toolbar-btn btn btn-sm btn-outline-secondary">
    <i class="fa-solid fa-table-columns" aria-hidden="true"></i>
    {{#str}}toolbar_infographic_comparison_edit, tiny_studiolms{{/str}}
</button>
